ENV/
__pycache__/
.vscode/
.idea/
*.csv
*.xlsx
automateDailyReport/*.csv
automateDailyReport/*.xlsx
automateDailyReport/*.ods
automateDailyReport/.~lock.*
automateDailyReport/*.XLSX
automateDailyReport/*.json